@{
    ViewData["Title"] = "Acesso";
    string route = "";
}
<div class="text-center">
    <h1 class="display-4">Acesso</h1>
</div>
<form>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputSenha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputSenha">
    </div>
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Acessar</button>
</form>
<div class="text-center">
    <p>
        Ainda não possui uma conta?
        <a type="button" class="nav-link text-blue" asp-area="" asp-controller="Cadastro" asp-action="Index">Fazer Cadastro</a> 
    </p>
</div>